.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: -1px;
  animation: zoom 0.3s ease-in-out;

  img {
    object-fit: cover;
    max-height: 80vh;
    border: 2px solid white
  }

  .closeBtn {
    color: rgba(255, 255, 255, 0.87);
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
      color: rgb(255, 255, 255);
    }
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media (max-width: 992px) {
  .modal img {
    width: 80%;
  }
}
